h1 {
    background-color: gray;
    color: white;
    font-family: cursive;
    text-align: center;
}

h2 {
    font-family: cursive;
    font-style: italic;
    text-align: center;
}


li {
    background-color: lightblue;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    line-height: 40px;
}

p {
    text-align: center;
    font-family: sans-serif;
}